# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
# Environment
.env
.env.local

# Project-specific
context.txt
concepts.md
results.txt
moday
cost_analysis.md
model_selection.txt
si_panel.txt
docs
output.txt
scripts
commit.txt
docs
debug


# OS
Thumbs.db
.DS_Store
